p {
    color: red;
}
.box1 {
    margin-top: 150px;
    border: 2px solid black;
    width: 20%;
    height: 400px;
    display: inline-block;
    text-align: center;
}
.box2 {
    border: 2px solid black;
    width: 38%;
    height: 400px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 120px;
    right: 0;
}
.box3 {
    border: 2px solid black;
    width: 20%;
    height: 400px;
    display: inline-block;
    text-align: center;
}
.box4 {
    border: 2px solid black;
    width: 20%;
    height: 400px;
    display: inline-block;
    text-align: center;
}
body {
    position: relative;
}